<div class="page-header">
  <h1>후원 방법 </h1>
</div>

<div class="well well-large">
  <h2> 입급 계좌 </h2>
  <h3> 국민은행 : 488801-04-019302 예금주: 유석종 </h3>
  <h3> 금액 : 5만원 이상 (후원금액의 상한선은 없습니다 ^^)</h3>
  <h3> 후원 접수 마감일 : 2013년 5월 16일 </h3>
</div>
