<div class="hero-unit">
  <h2>2013년 생화학과 총동문회</h2>
  <p></p>
  <h4>일시 : 2013년 5월 25일(토요일) 오전 10시 ~ 오후 3시</h4>
  <h4>장소 : 충북대학교 자연대 4호관 2층 강당 및 운동장</h4>
  <h4>대상 : 충북대학교 생화학과 졸업생 및 재학생(가족동반 대환영) </h4>
  <p></p>
  <p class="text-info">행사준비를 위해서 참석하실분은 참가신청을 반드시 해주세요.</p>
  <p></p>
    <a href="/attendees/new" class="btn btn-primary btn-large">
      참가신청
    </a>
  </p>
</div>


