<div class="hero-unit">
  <h1>2013년 생화학과 총동문회</h1>
  <p></p>
  <p>일시 : 2013년 5월 25일(토요일) 오전 10시 ~ 오후 3시</p>
  <p>장소 : 충북대학교 자연대 4호관 2층 강당 및 운동장</p>
  <p>대상 : 충북대학교 생화학과 졸업생 및 재학생(가족동반 대환영) </p>
  <p/>
    <a href="/program" class="btn btn-primary btn-large">
      상세 프로그램
    </a>
  </p>
</div>
