<div class="container">  
     <ul class="thumbnails">  
        <li class="span3">  
          <div class="thumbnail">  
            <img src="shoes1.jpg" alt="Daum cafe">  
            <div class="caption">  
              <h5>Daum Cafe</h5>  
              <p><a href="#" class="btn btn-success">Go</a></p>  
            </div>  
          </div>  
        </li>  
        <li class="span3">  
          <div class="thumbnail">  
            <img src="shoes2.jpg" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
              <p><a href="#" class="btn btn-success">Buy</a> <a href="#" class="btn btn-warning">Try</a></p>  
            </div>  
          </div>  
        </li>  
        <li class="span3">  
          <div class="thumbnail">  
            <img src="shoes2.jpg" alt="product 2">  
            <div class="caption">  
              <h5>Product detail</h5>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
              <p><a href="#" class="btn btn-success">Buy</a> <a href="#" class="btn btn-warning">Try</a></p>  
            </div>  
          </div>  
        </li>  
      </ul>  
  
      <hr>  
</div>
