<%- model_class = Attendee -%>
<div class="page-header">
  <h1>참석자</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>학번:</strong></dt>
  <dd><%= @attendee.sid %></dd>
  <dt><strong>성명:</strong></dt>
  <dd><%= @attendee.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              attendees_path, :class => 'btn'  %>
</div>
