<footer>
    <div class="footer" style="background-color:#c2c2c2>
       <div class="container narrow row-fluid">
          <div class="span4">
	    <a href="http://biochemob.herokuapp.com/">생화학과 총동문회</a>
          </div>
          <div class="span3">
          </div>
          <div class="span5">
          Developed by <a href="http://www.facebook.com/seokjongyu">codegen</a>
          </div>
       </div>
    </div>
</footer>

